* {
	font-family: Verdana;
	margin: 0;
	padding: 0;
}

html {
    height: 100%;
}

aside div {
    width:100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 30px;
    background-color: coral;
    animation: square-to-circle 2s .5s infinite cubic-bezier(1,.015,.295,1.225) alternate;
  }

   
  @keyframes square-to-circle {
    0%  {
      border-radius:0 0 0 0;
      background:coral;
      transform:rotate(0deg);
    }
    25%  {
      border-radius:50% 0 0 0;
      background:rgb(212, 40, 218);
      transform:rotate(45deg);
    }
    50%  {
      border-radius:50% 50% 0 0;
      background:rgb(182, 219, 46);
      transform:rotate(90deg);
    }
    75%  { 
      border-radius:50% 50% 50% 0;
      background:rgb(187, 39, 39);
      transform:rotate(135deg);
    }
    100% {  
      border-radius:50%;
      background: rgb(21, 196, 30);
      transform:rotate(180deg);
    }
  }

}


@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

body {
	background-image: linear-gradient(purple, red);
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:repeat;
    background-attachment: fixed;

}

.wrapper {
	width: 100%;
	max-width: 1000px;
	height: auto;
    margin: 0 auto;
    border: 2px solid black;
}

header {
    margin-top: 40px;
    height: 100px;
    text-transform: capitalize;
    text-align: center;
}

header img {
    display: block;
    max-width: 100%;
    height: auto;
    flex: 1 0 auto;
}

nav {
	background-color: #212121;
}

nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
    flex-wrap: wrap;
    
}

nav ul li {
	border: 1px solid #F5F5F5;
    flex: 1 0 auto;
}

nav ul li a {
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 10px;
    font-weight: bold;
}

nav ul li a:hover {
	background-color: #757575;
}

section {
    display:flex;
    flex-direction: row;
    overflow-x: auto;
    max-width: 100%;
    height: auto;
}

body {
    height: 60em;
}

article {
    border-right: 2px solid black;
    border-top: 2px solid black;
    padding: 10px;
}

article p {
    font-family: Georgia;
    font-size: 20px;
    flex: 1 1 auto;
}

article h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    flex: 1 1 auto;
}

aside {
    border-top: 2px solid black;
    padding: 10px;
}

aside h2 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    flex: 1 1 auto;
}

aside p {
    font-family: Georgia;
    font-size: 16px;
    flex: 1 1 auto;
}



footer {
    display: flex;
    background-color: #212121;
    border-top: 2px solid black;
    padding: 10px;
    padding-right: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer p {
    font-weight: bold;
    color: white;
    flex: 1 0 auto;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

footer ul li {
    flex: 1 0 auto;
}

footer ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #F5F5F5;
    border-top: none;
    border-bottom: none;
    display: flex;
}

footer ul li a:last-child {
    border-right: none;
}

footer ul li a:hover {
    background-color: #757575;
}
  
/* For mobile phones: */
@media only screen and (max-width: 768px) {
    section {
        display:flex;
        flex-direction: column;
        max-width: 100%;
    }
}